.main-wrapper-group-grid {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 40px;

    margin: 0px auto;
    position: relative;
}
.game-card {
    margin-top: 60px;
    height: 420px;
    border-radius: 22px;
    border: solid 2px blueviolet;
    padding: 16px;

    cursor: pointer;
}
.game-card-wrapper:hover  .game-card{
    transform: rotate3d(0, 1, 0, 180deg);
    transition-duration: 0.6s;
    perspective: 1000px;
    opacity: 0;
}
.game-card-wrapper:hover  .game-description{
    transform: rotate3d(0, 1, 0, 0deg);
    transition-duration: 0.6s;
    perspective: 1000px;
    opacity: 1;
}
.game-card img{
    width: 100%;
    
}
.game-pice-and-name {
    position: relative;
    top: -150px;
    background-color: #000;
    padding: 10px;
}
.game-description {
    position: absolute;
    margin-top: 60px;
    padding: 16px;
    
    border-radius: 22px;
    border: solid 2px blueviolet;

    height: 420px;
    width: 300px;
    background-color: #000;
    opacity: 0;
    transform: rotate3d(0, 1, 0, 180deg);
}
.star-game-rate {
    float: left;
}
.row {
    display: flex;
    justify-content: space-between;
}