.modal-window-profile {
    background-color: $colorHeader;
    border: solid 3px blueviolet;
    border-radius: 22px;
    width: 35%;
    height: 25vw;

    position: relative;
    overflow: hidden;
    

    .input-group-profile {
        width: 90%;
        height: 100px;
        margin: 60px auto 20px auto;

        .modal-button {
            margin: 20px 0px;
        }
        
        span{
            display: flex;
            justify-content: space-between;
        }
        
        .search-input {
            width: 50%;
            margin: 0px;
            &:nth-child(2) {
                margin-bottom: 20px;
            }
        }

    }

    >p {
        padding: 20px 0px 0px 40px;
        font-size: 26px;
    }
}