.modal-window-profile {
    background-color: $colorHeader;
    border: solid 3px blueviolet;
    border-radius: 22px;
    width: 40%;
    height: 30vw;

    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    .input-group-profile {
        width: 90%;
        height: 100px;
        margin: 60px auto 20px auto;
        
        
        .modal-button {
            margin: 20px 0px;
        }
        
        span{
            display: flex;
            justify-content: space-between;
        }
        
        .search-input {
            width: 50%;
            margin: 0px;
            &:nth-child(2) {
                margin-bottom: 20px;
            }
        }
        
    }
    
    >p {
        padding-top: 40px;
        font-size: 26px;
    }
}
.alarm {
    padding: 10px 20px;
    position: absolute;
    p {
        font-size: 18px;
        opacity: 0.8;
        color: red;
    }
    background-color: #fff;
    border-radius: 12px;
    margin: 20px 0px;

    transition-duration: 0.3s;
}