.modal-button {
    margin-top: 80px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    p{
        padding: 22px;
        border-radius: 22px;
        border: 2px solid blueviolet;
    }
}