.footerWrapper {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color:rgb(34, 34, 34);

    display: flex;
    justify-content: center;
}

.GameIcon {
    width: 50px;
    margin: 20px;
    cursor: pointer;
}

li {
    list-style-type: none;
    float: right;
}