.profile-content-block {
    display: flex;
    justify-content: space-around;

    margin-top: 60px;

    .input-section {
        width: 450px;
        label {
            p {
                padding-bottom: 10px;
            }
        }
    }

    .profile-contorol-button {
        width: 250px;
    }

    .profile-img {
        width: 450px;
        .non-img-profile {
            width: 100%;
            height: 550px;
            border-radius: 22px;
            background-color: rgb(71, 71, 71);
        }
    }
    section {
        width: 300px;
        .profile-button {
            margin: 0px;
            margin-top: 30px;
            width: 100%;

            &:first-child {
                margin-top: 0px;
            }
            p {
                font-size: 25px;
            }
        }
        .profile-input {
            margin: 0px;
            margin-bottom: 30px;
            width: 100%;
            border-radius: 8px;
            font-size: 15px;
            &:nth-child(4) {
                height: 200px;
                resize: none;
            }
        }
    }
}